PORT=5000
APP_NAME=Palame
# Database
MONGO_URI=mongodb://localhost:27017/palame
DATABASE_URL="postgresql://postgres:password@localhost:5432/ecommerce"
REDIS_URL=redis://localhost:6379
# ImageKit
IMAGEKIT_PUBLIC_KEY=publickeyexmple
IMAGEKIT_PRIVATE_KEY=privatekeyexample
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/palame

# Node Mailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=mail@gmail.com
SMTP_PASS=mailpassword
MAIL_FROM_NAME=Palame
MAIL_FROM_EMAIL=mail@gmail.com

# frontend url
FRONTEND_URL=http://localhost:3000

#admin jwt secret
ADMIN_JWT_SECRET=your_admin_jwt_secret_key
JWT_SECRET=your_jwt_secret_key

DEFAULT_AVATAR_URL = https://ik.imagekit.io/palame/default_avatar.png
DEFAULT_AVATAR_FILE_ID = default_avatar_file_id
IMAGEKIT_URL_ENDPOINT = https://ik.imagekit.io/palame

NODE_ENV=development
PRINT_DEBUG=false